body {
  margin: 0;
  background: #2F2E2E;
}

a {
  text-decoration: none;
}

.index_nav {
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  position: fixed;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(221, 221, 221);
  font-size: 10pt;  
  transition: .3s;
  padding: 20px;
}

.index_nav ul {
  list-style: none;
  display: flex;
  width: 300px;
  justify-content: space-around;
  font-weight: light;
  cursor: pointer;
}

.index_nav a {
  text-decoration: none;
  color: rgb(221, 221, 221);
}

.nav_two a {
  color: black;
}

.nav_logo {
  width: 300px;
  margin: 0;
}

.nav_two li:hover {
  color: white;
  transition: .4s;
}

.nav_one {
  z-index: 5;
  justify-content: flex-end;
}

.nav_two {
  z-index: 7;
  background:#fff;
  color: black;
  transform: translate3d(0, -100%, 0);
  justify-content: space-between;
}

.divider {
  color: red;
}

.number {
  margin-right: 40px;
  font-weight: light;
  font-size: 12pt;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.onelogo {
  width: 480px;
  margin-right: 20px;
}

.slogan {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 45pt;
  color: black;
  width: 420px;
  text-align: right;
  height: 357px;
}

.red_i {
  color: #FF3D00;
}

.head_panel {
  width: 80%;
  position: absolute;
  background: #333535;
  height: 63px;
  display: flex;
  align-items: center;
  bottom: 0;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.75);   
}

.email a {
  color: #C4C4C4;
  text-decoration: none;
}

.fa {
  cursor: pointer;
}

.social_links { 
  width: 110px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  font-size: 20pt;
}

.social_links a {
  color: #C4C4C4;
}

.fa:hover {
  color: black;
}

.learn_more_button {
  cursor: pointer;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.learn_more_button a {
  color: #C4C4C4;
  text-decoration: none;
}

.learn_more_button p {
  display: inline;
}

.wifi_png {
  width: 30px;
  display: inline;
}

.wifi_png:hover {
  width: 35px;
  transition: .4s;
}

.email {
  font-weight: lighter;
  margin-right: 20px;
}

.main_body {
  background: #C4C4C4;
}

.about_us {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: row ;
  align-items: center;
}

.about_us img {
  width: 250px;
  margin-right: 10px;
  margin-left: auto;
}

.about_us_content {
  width: 500px;
  margin: auto;
}

.about_us_content p {
  font-family: sans-serif;
}

.about_us_content h2 {
  font-family: 'Roboto', sans-serif;
  font-size: bolder;
  background: red;
  padding: 5px 10px;
  width: 200px;
}

.about_us strong {
  font-weight: bolder
}

.clients {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  -webkit-box-shadow: 0px 1px 15px 11px rgba(0,0,0,1); 
  box-shadow: 0px 1px 15px 11px rgb(146, 146, 146);
  margin-bottom: 50px;
  gap: 50px;
}

.clients img {
  width: 200px;
}

.services {
  background: #C4C4C4;
  width: 70%;
  margin: 0 auto 0 auto;
  padding-top: 150px;
  min-height: 600px;
  max-height: 1000px;
}

.services h2 {
  font-family: 'Roboto', sans-serif;
  background: red;
  color: white;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serv_head {
  background: #2F2E2E;
  padding: 0 0 0 50px;
}

.serv_head h2 {
  font-weight: normal;
}

.service_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.service_container img {
  width: 400px;
}

details {
  cursor: pointer;
  padding: 10px;
  border-bottom: solid white 1px;
  width: 400px;
  outline: none;
}

summary:hover {
  background-position: left bottom;
}


summary {
  outline: none;
  font-family: sans-serif;
  color: rgba(56, 56, 56);
  padding: 10px 10px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.384) 50%, #C2C2C2 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
} 


summary::-webkit-details-marker {
  display: none; 
}

details p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.testimonial_section {
  background: url(images/business.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.testimonial_overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.testimonial_overlay h2 {
  color: black;
  font-weight: bolder;
  font-size: 22pt;
  font-family: 'Robot', sans-serif;
  padding: 5px 20px;
  margin: 60px 0 80px 0;
}

.testimonial_name {
  font-weight: bold;
  font-size: 18pt;
  color: rgb(34, 116, 148);
}

.testimonial_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: rgb(221, 221, 221);
  align-items: center;
  justify-content: space-around;
}

.fa-star {
  color: gold;
}

.icon {
  position: absolute;
  bottom: 0;
  z-index: 5;
  text-align: center;
}

footer {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 30px;
  color: #C4C4C4;
  background: #2F2E2E;
}

footer a:hover {
  color: black;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}


.social {
  display: flex;
  width: 100%;
}

.footer_social_links {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  justify-content: space-around;
  font-weight: lighter;
}

.footer_links {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  font-weight: lighter;
}

footer a {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
}
.footer_center {
  font-size: 24pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  width: 300px;
}

.footer_right {
  text-align: right;
}


.licensed {
  font-size: 11pt;
  justify-self: flex-end;
  font-weight: lighter;
  font-family: sans-serif;
}

.footer_end {
  text-align: right;
}

.second_logo {
  width: 300px;
  margin: 30px;
}

.scroll_container {
  width: 30px;
  margin-left: auto;
  margin-right: 0;
}

.scroll_logo {
  width: 7vh;
  height: auto;
  transition: 0.3s ease-out;
  width: 25px;
}

/* --------------------------- secondary-page nav ------------------------------- */

.secondary_body {
  background: white;
}

.secondary_nav {
  background: white;
}

.secondary_nav .nav {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: auto;
  height: 100px;
  align-items: flex-end;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  box-sizing: border-box;
}

.secondary_nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    color: black;
}

.secondary_nav ul {
  width: 280px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.secondary_nav li {
  list-style: none;
  font-size: 12pt;
  cursor: pointer;
}

 .line {
  width: 75vw;
  margin: 0 auto;
  background: red;
  height: 1px;
  z-index: 100;
}

.secondary_nav .head {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  font-size: 10pt;
  color: black;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.secondary_nav .head a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  
}

.secondary_nav h1 {
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}

.secondary_menu {
  position: fixed;
  display: flex;
  width: 30px;
  height: 15px;
  top: 50px;
  right: 100px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.menu_line {
  height: 2px;
  width: 30px;
  background: red;
}

.line_three {
  width: 15px;
}

.secondary_page {
    width: 75vw;
    margin: auto;
    display: flex;    
    padding: 100px 0;
    gap: 5px;
    height: 1000px;
    align-items: flex;
    flex-wrap: wrap;
}

.secondary_page div {
    width: 45%;
    height: 70vh;
    transition: 1s;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
}


